.ptow-sec-1 {
    background: #F5E0EF;
}

#foreimgpotw {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.centered-bottom {
    position: absolute;
    /* top: 75%; */
    bottom: 0%;
    background: transparent linear-gradient(180deg, #3E143200 0%, #3E1432 100%) 0% 0% no-repeat padding-box;
    padding-top: 100px;
}

.potwforeimgtxt {
    color: #EBC1DF;
    font-weight: bolder;
    font-family: 'Cinzel'
}

.potw-2-txt {
    color: #3E1432;
    font-family: 'Poppins'
}

.potw-2-txt-bolder {
    font-weight: bolder;
}

.potw-3-h2 {
    color: #3E1432;
    font-weight: bolder;
    font-family: 'Poppins'
}

.potw-3-sec {
    background: #FAF0F7;
}

.calendarbtn {
    background: #7b5163 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #25AF4526;
    border-radius: 3px;
    opacity: 1;
}

.calendarbtn-txt {
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.ptow-giv-div {
    background: #F6F6F6;
}

.ptow-givinglevels-txt {
    color: #C896AB;
    font-size: .75rem;
    font-family: 'Poppins';
}

.ptow-givinglevels-txt2 {
    color: #3E1432;
    font-size: 1rem;
    font-family: 'Poppins';
    line-height: .15rem;
    font-weight: 400;
}

.bigcheqbtn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    padding: 25px 50px;
}

.bigcheqbtn-txt {
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #3E1432;
    opacity: 1;
    font-weight: 400;
}

.ptow-Inctxt-2 {
    position: absolute;
    bottom: 2px;
}

.test-caption {
    color: #3E1432;
    font-size: 18px;
    font-family: 'Poppins';
}

.guest-descript {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #7E7E7E1A;
    opacity: 1;
}

.guest-descript-date {
    color: #C896AB;
    opacity: 1;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0px;
}

.guest-descript-txt {
    color: #3E1432;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.guest-descript-txt-2 {
    color: #C896AB;
    opacity: 1;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0px;
}

.quest-card-size {
    width: 300px;
}

.watchnowbtn {
    background: #C896AB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #25AF4526;
    border-radius: 3px;
    opacity: 1;
    padding: 10px 20px;
}

.play-icon {
    font-size: 50px;
    top: 25%;
    position: absolute;
    left: 46%;
    color: #A5A5A5;
}

.border-between>[class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}

.fellowcaption {
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 100;
}

.fellowname {
    font-size: 1rem;
    color: #EBC1DF;
    font-weight: 600;
    font-style: italic;
    font-family: 'Poppins';
    float: right;
}

.fellowquote {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-family: 'Cinzel'
}